.selection{
    padding: 3px;
}
.displayButton{
    position: relative;
}
.dropDown{
    position: absolute;
    width: 250px;
    border-radius: 6px;
    z-index: 10;
    margin-top: 10px;
    background-color: #f8f8fa;
}
.dropOnClick > *{
    width: 100%;
}
.btn{
    display: flex;
    align-items: center;
    background: #f8f8fa;;
    border: 1px solid silver;
    border-radius: 7px;
    gap: 4px;
}
.selectStyle{
    width: 100px;
    background: white;
    padding: 2px 5px;
    border-radius: 5px;
}