.dashContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    padding: 15px 20px;
    background: rgb(226, 226, 226);
}
.CardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 300px;
    align-content: center;
}
.leftView{
    display: flex;
    align-items: center;
    gap: 2px;
}